<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
		body { margin: 0; overflow: hidden; }
		canvas { width: 100%; height: 100%; }
		#Stats-output { position: absolute; left: 0px; top: 0px; }
	</style>
</head>
<body>
	<div id="Stats-output"></div>
	<div id="WebGL-output"></div>
	<script src="../libs/three.js"></script>
	<script src="../libs/dat.gui.js"></script>
	<script src="../libs/stats.js"></script>
	<script src="buildings.js"></script>
</body>
</html>
